.jc-c{
    display: flex;
    justify-content: center;
}
.jc-sb{
    display: flex;
    justify-content: space-between;
}
.mat-grid-tile{
    top: -25%;
    margin: 12rem;
}
h1.cargando{
    padding-top: 3rem;
    padding-left: 1rem;
}
.mat-mdc-progress-spinner.mdc-circular-progress.mat-primary.mdc-circular-progress--indeterminate{
    width: 20% !important;
}
.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: red !important;
}
img{
    height: 40rem;
    width: fit-content;
}

button{
    background-color: rgb(228, 22, 22);
    color: white !important;
    padding: 1rem;
    border-color: none;
    border-radius: 1rem;
}