<ng-template #divLoading class="loading">
  <mat-grid-list cols="4">
    <h1 class="cargando">Cargando información ... </h1>
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="hero; else divLoading" class="grid p-2">

  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>{{ hero.alter_ego }}</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>
    <div class="jc-c">
      <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image />
    </div>
  </mat-card>

  <mat-card class="col-12 sm:col-6">
    <mat-card-header class="jc-sb px-4">
      <mat-card-title>Información</mat-card-title>
      <button mat-button (click)="goBack()">
        Regresar
      </button>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item><b>Bombre:</b>{{ hero.superhero }}</mat-list-item>
        <mat-list-item> <b>Primera aparicion:</b> {{ hero.first_appearance }}</mat-list-item>
        <mat-list-item><b>Personaje:</b> {{ hero.characters }}</mat-list-item>
        <mat-list-item> <b>Publicado por:</b> {{ hero.publisher }}</mat-list-item>
        <mat-list-item><b>Alter ego:</b> {{ hero.alter_ego }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>